body {
    font-family: 'Montserrat', sans-serif;
    color: #2e2e2e;
    font-weight: 600;
    /* line-height: 110%; */
    /* letter-spacing: -4%; */
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 48px;
    line-height: 110%;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 14px;
    font-weight: 500;
}

.container {
    width: 100%;
    height: 100%;
    width: 1440px;
    padding: 100px 72px;
    margin-left: auto;
    margin-right: auto;
}

.hero__container {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: auto auto;
    column-gap: 36px;
}

.hero__text {
    padding-top: 120px;
    padding-bottom: 180px;
}

.hero__text-heading {
    margin-bottom: 16px;
    margin-top: 0px;
}

.hero__text-paragraph {
    margin-top: 0px;
    margin-bottom: 40px;
}

.hero__buttons {
    list-style-type: none;
    padding-left: 0px;
}

ul.hero__buttons>li {
    display: inline;
}

.button {
    clip-path: polygon(0 0, calc(100% - 27px) 0px, 100% 22.5px, 100% 100%, 27px 100%, 0px calc(100% - 22.5px));
    height: 21px;
    background-color: #044071;
    border: 1px solid #044071;
    padding: 24px 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin-right: 16px;
    position: relative;
}

.button::before {
    clip-path: polygon(calc(100% - 27px) 0px, calc(100% - 25px) 0px, 100% 20.5px, 100% 22.5px);
}

.button:after {
    clip-path: polygon(0px calc(100% - 22.5px), 27px 100%, 25px 100%, 0px calc(100% - 20.5px));
}

.button:hover {
    background-color: #fff;
    color: #044071;
}

.button.white {
    background-color: #fff;
    color: #044071;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #044071;
}


.button.white::before {
    clip-path: polygon(calc(100% - 27px) 0px, calc(100% - 25px) 0px, 100% 20.5px, 100% 22.5px);
}

.button.white::after {
    clip-path: polygon(0px calc(100% - 22.5px), 27px 100%, 25px 100%, 0px calc(100% - 20.5px));
}

.button.white:hover {
    background-color: #044071;
    color: #fff;
}

.hero__cards-block {
    position: relative;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 72px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.hero__image-block {
    position: absolute;
    top: -120px;
    bottom: -180px;
    left: 0%;
    right: 0%;
    height: 100%;
}

.hero__image {
    width: 100%;
    height: 200%;
    object-fit: cover;
    position: relative;
    bottom: 75%;
}

.hero__cards-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 158px 158px;
    gap: 10px;
    padding-left: 0px;
}

.hero__cards-list-item {
    clip-path: polygon(0 0, calc(100% - 27px) 0px, 100% 22.5px, 100% 100%, 27px 100%, 0px calc(100% - 22.5px));
    backdrop-filter: blur(20px);
    /* padding: 24px 20px 24px 24px; */
    border: 1px solid #acafb3;
    width: calc(245px + 2px);
}

.hero__cards-list-item p,
a {
    color: #fff;
    display: block;
}

.hero__cards-list-item a,
div.hero__cards-list-item-wrapper {
    /* height: 158px;
    display: block; */
    padding: 24px 20px 24px 24px;
}

.hero__card-img-block {
    margin-bottom: 12px;
    width: 183px;
    height: 45px;
}

.hero__card-stars-block {
    margin-bottom: 8px;
    height: 20px;
    width: 108px;
    padding-right: auto;
}

/* .hero__card-stars-img {} */

.hero__cards-title {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 600;
}

.hero__cards-text {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
}

/* Карта */

.contact__container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    /* Высота авто и зависит от формы слева: */
    grid-template-rows: auto;
    column-gap: 76px;

}

.contact__content {}

.contact__heading {
    margin-top: 0px;
    margin-bottom: 16px;
}

.contact__text {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 32px;
    width: 526px;
}

.contact_form-block {}

.contact__field-block {
    position: relative;
}

.form__field {}

.form__field-label {
    position: absolute;
    left: 24px;
    top: calc(50% - 0.75em);
}

.contact__button {}

/* .contact__map {} */

.contact__map_img {
    object-fit: cover;
    filter: grayscale();
}